<div class="container">
  <h1>Task Management Application</h1>
  
  <div class="task-form">
    <h2>Task Details</h2>
    <form id="taskForm">
      <label for="taskTitle">Title:</label>
      <input type="text" id="taskTitle" required>
      <label for="taskDescription">Description:</label>
      <input type="text" id="taskDescription" required>
      <label for="taskWho">Assigned To:</label>
      <input type="text" id="taskWho" required>
      <label for="taskDeadline">DeadLine:</label>
      <input type="date" id="taskDeadline" required>
      <button type="submit" style="font-size: medium;">Add Task</button>
      <button type="menu" style="background-color:coral;font-size: medium;">Edit Task</button>
      <button type="deleteButton" style="background-color: brown;font-size: medium;" >Delete Task</button>
    </form>
  </div>  



  
 
